.cs-conversation-header__user-name{
    background: black !important;
}
.cs-conversation-header__info{
    background: black !important;
}
.cs-expansion-panel__header{
    background: black !important;
}
.cs-expansion-panel__content{
    background: black !important;
}
.cs-expansion-panel__icon{
    color: white !important;
}

.bg-black {
    background-color: black;
  }
  
  .bg-light-black {
    background-color: #222;
  }
  .myconversation:hover {
    background-color:  #3b3a3a;
  }
  
  